
div.test-id__record-layout-container.riseTransitionEnabled>div>div>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none>div.slds-form.slds-form_stacked >div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)>div>div>div.slds-form-element__control.slds-grid.itemBody>span>div
>button[title="Change Owner"] {
    display: none;


}
div.test-id__record-layout-container.riseTransitionEnabled>div>div
>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none
>div.slds-form.slds-form_stacked 
>div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)
>div>div>div.slds-form-element__control.slds-grid.itemBody>span
>div
>button[title="Change Owner"]:focus {
    pointer-events: none;

}

div.test-id__record-layout-container.riseTransitionEnabled>div>div
>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none
>div.slds-form.slds-form_stacked 
>div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)
>div>div>div.slds-form-element__control.slds-grid.itemBody>span
>div  {
    pointer-events: none;
}

/*  list view */

div.test-listViewManager.slds-grid.slds-grid--vertical.forceListViewManager>div>div.slds-grid>
div.slds-col.slds-has-flexi-truncate.firstHeaderRow>div.slds-media.slds-no-space.slds-grow>div.slds-media__figure>span
>div>span>img[alt="Accounts"] {
    /* display:none;*/
}

div.branding-actions.actionMenu
>ul.scrollable>li.uiMenuItem:nth-child(3)>a[title="Change Owner"]{
   display:none;
}

/* increase height of the household edit wizard page */
div.panel.slds-modal.slds-fade-in-open>div.modal-container.slds-modal__container
>div.modal-body.scrollable.slds-modal__content.slds-p-around--medium {
    height: 800px;
}

div.actionMenu.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default
>div.branding-actions.actionMenu

{
    height: 400px; 
}






 	




 


