
div.test-id__record-layout-container.riseTransitionEnabled>div>div>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none>div.slds-form.slds-form_stacked >div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)>div>div>div.slds-form-element__control.slds-grid.itemBody>span>div
>button[title="Change Owner"] {
    display: none;
    pointer-events: none;

}
div.test-id__record-layout-container.riseTransitionEnabled>div>div
>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none
>div.slds-form.slds-form_stacked 
>div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)
>div>div>div.slds-form-element__control.slds-grid.itemBody>span
>div
>button[title="Change Owner"]:focus {
    pointer-events: none;

}

div.test-id__record-layout-container.riseTransitionEnabled>div>div
>div.test-id__section-content.slds-section__content.section__content.slds-p-top--none
>div.slds-form.slds-form_stacked 
>div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3)
>div>div>div.slds-form-element__control.slds-grid.itemBody>span
>div  {
    pointer-events: none;
}


/*
div.slds-form-element.slds-form-element_readonly.slds-grow.slds-hint-parent.override--slds-form-element {
   border-bottom: 1px solid red;
   pointer-events: none;
}

 
 div.modal-footer.slds-modal__footer>div.forceModalActionContainer--footerAction.forceModalActionContainer>button[title="Change Owner"]{
     display: none;
}
*/


 	




 


