/*
div[title="Change Owner"]{
    display:none;
}

a[title="Change Owner"]{
    visibility: hidden;
}

button[title="Change Owner"]{
    visibility: hidden;
}
*/

div.container.showchangeOwnerLink.forceOutputOwnerIdLookupWithChangeLink
>button {
    display: none;
}

ul>li.uiMenuItem>a[title="Change Owner"] {
     display: none;
  
}


div.forceModalActionContainer--footerAction.forceModalActionContainer>button[title="Change Owner"] {
     display: none;
}





 


